html {
  line-height: 16px;
  font-size: 14px;
  box-sizing: border-box;
}
/* Header */
header,
.header-logo,
.header-ul,
.header-ul li {
  display: flex;
}
header {
  padding: 60px 0 60px;
  max-width: 1185px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}
.header-logo {
  max-width: 160px;
  height: 90px;
  margin-right: 250px;
}
.header-ul {
  max-width: 775px;
  width: 100%;
  justify-content: space-between;
}
.header-ul li {
  height: 30px;
  align-items: center;
}
.header-ul a {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.header-ul li:first-child {
  padding: 9px 7px 9px 6px;
  line-height: 10px;
  border: 1px solid #D1A954;
}
.header-the-main a {
  color: #D1A954;
  transition: 0.5s;
}
.header-menu__link a:hover {
  font-size: 13px;
  font-weight: 700;
  color: #D1A954;
  
}
/* /Header */

/* Slider1 */
.block-slider {
  margin-bottom: 120px;
}
#first-slider.swiper-container {
  width: 1800px;
}
.slider-pagination__first {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}

#pagination-content__slider.swiper-pagination {
  position: static;
}
#pagination-slider-btn_next.swiper-button-next:after {
  font-size: 10px;
}
#pagination-slider-btn_prev.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  font-size: 10px;
}

#pagination-slider-btn_prev.swiper-button-prev,
#pagination-slider-btn_next.swiper-button-next {
  position: relative;
  top: 13px;
  left: 0;
  color: #000000;
}

#pagination-content__slider .swiper-pagination-bullet {
  width: 20px;
  height: 2px;
  border-radius: 0;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* /Slider1 */

/*restorans */
.main-restorans {
  font-family: "Montserrat";
  font-weight: 300;
  text-align: center;
  color: #616161;
}
.main-restorans__block h1 {
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 25px;
}
.main-restorans__block img {
  max-width: 100%;
}
.main-restorans__img {
  position: relative;
}

.icon-play::after {
  left: 49%;
  bottom: 45%;
  content: '';
  position: absolute;
  width: 80px;
  height: 81px;
  background: url(../Summer_palace/img/play-button.png);
}

.main-restorans__block p {
  font-family: 'Montserrat';
  font-size: 9px;
  font-weight: 300;
  line-height: 11px;
  text-transform: uppercase;
}
.main-restorans__img {
  position: relative;
  z-index: 0;
}
.main-fon-block_grey {
  position: relative;
  padding-top: 360px;
  top: -275px;
  background-color: #E5E5E5;
  z-index: -1;
}
.block-text-restorans {
  display: flex;
  justify-content: space-between;
  width: 1015px;
  margin: 0 auto;
}
.restorans-block__first-item {
  width: 350px;
}
.restorans-block__first-item p {
  text-align: left;
}
.restorans-block__first-item img {
  margin-bottom: 33px;
}
.restorans-block__second-item {
  width: 540px;
}
.restorans-item-block {
  position: relative;
  width: 255px;
  height: 155px;
  flex-direction: column;
  text-align: left;
}
.restorans-item-block p {
  font-weight: 300;
  font-size: 14px;
}
.restorans-item-block {
  margin-bottom: 40px;
}

.restorans-item-block h3 {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  padding-top: 15px;
  margin-bottom: 20px;
}

.icon-palace::after,
.icon-interiors::after,
.icon-tehnolodgy::after,
.icon-oborydovanie::after {
  content: '';
  position: absolute;
}
.icon-oborydovanie {
  padding-left: 25px;
}

.icon-palace::after {
  top: 0;
  left: 0;
  width: 46px;
  height: 30px;
  background: url(../Summer_palace/img/icon-palace.svg);
}

.icon-interiors::after {
  top: 10px;
  left: 0;
  width: 39px;
  height: 21px;
  background: url(../Summer_palace/img/icon-interiors.png);
}

.icon-tehnolodgy::after {
  top: 0;
  left: 0;
  width: 37px;
  height: 32px;
  background: url(../Summer_palace/img/icon-tehnolodgy.png);
}
.icon-oborydovanie::after {
  top: 0;
  left: 0;
  width: 43px;
  height: 38px;
  background: url(../Summer_palace/img/icon-oborydovanie.png);
}
/* /restorans */
/* galery */
.galery {
  padding-bottom: 400px;

}
/* /galery */